
ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0 80px;
    height: 80px;
    align-items: center;
    background-color: black;
    opacity: initial;
    border-bottom: 8px dashed darkblue;
  }
  li {
    margin: 0 10px;
  }
  .navLink {
    color: white;
    font-size: larger;
    font-style: italic;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
